.certain {
  width: 680px;
}

.chart {
  width: 630px;
  height: 350px;
  position: absolute;
  margin-left: 12px;
  padding-top: 13px;
}

.custom {
  width: 1330px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  width: 1450px;
  margin-left: auto;
  margin-right: auto;
}

/* .basic {
  min-width: 600px;
} */
