.check {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.check_modal {
  width: 300px;
  height: 150px;
  position: relative;
  box-sizing: border-box;
  margin: 100px auto;
  padding: 20px;
  background: rgb(173, 148, 134);
}
