/* 페이지당 높이 846px 정도로 구성함 */

/* ------------------------------ */
.contents_wrap {
  display: flex;
}
.exp_container {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 1241px) {
  .contents_wrap {
    display: flex;
  }
  .content_left {
    width: 30%;
  }
  .input_title {
    font-size: 2em !important;
    font-weight: 800;
    margin-bottom: 30px;
  }
  .input_maintext {
    font-size: 1.5em;
  }
  .result_text {
    font-size: 1.5em;
  }
  .record_wrap {
    width: 70%;
    margin: 0 50px;
    margin-top: 20px;
    
  }
}
@media (min-width: 768px) and (max-width: 1240px) {
  .content_left {
    width: 50%;
  }
  .input_title {
    font-size: 2em !important;
    font-weight: 800;
  }
  .result_text {
    font-size: 1.3em;
  }
  .gender {
    font-size: 0.5em !important;
  }
  .input_maintext {
    font-size: 1.5em;
  }
}
@media (min-width: 401px) and (max-width: 767px) {
  .contents_wrap {
    display: block;
  }
  .gender {
    font-size: 1em;
  }
  .gender_button {
    display: inline-block;
  }
  .content_left {
    width: 100%;
  }
  .input_title {
    font-size: 2em !important;
    font-weight: 700;
  }
  .input_maintext {
    font-size: 1.5em;
  }
  .save_ {
    padding: 10px 0;
  }
  .save_button {
    width: 120px;
    height: 80px;
  }
}
@media (max-width: 400px) {
  .contents_wrap {
    display: block;
  }
  .gender_button {
    display: inline-block;
  }
  .content_left {
    width: 100%;
  }
  .input_title {
    font-size: 1.4em;
    font-weight: 700;
    /* padding: 10px 0; */
  }
  .input_maintext {
    font-size: 1.2em;
  }
  .save_ {
    padding: 10px 0;
  }
  .save_button {
    width: 100px;
    height: 60px;
  }
}