/* 페이지당 높이 846px 정도로 구성함 */
.exp_container {
  background-color: teal;
  height: 846px;
  display: flex;
}

.exp_container div {
  flex: 1;
  text-align: center;
  margin: 1%;
  border-radius: 20px;
}

.left_img {
  border: 2px solid red;
}

.input_size {
  border: 2px solid rgb(255, 123, 0);
}

.right_img {
  border: 2px solid yellow;
}

.info_size {
  border: 2px solid darkmagenta;
}
