/* Slideshow container */
body {
  margin: 0px;
  padding: 0px;
}

.slideshow-container {
  
  width: 90%;
  height: 550px;
  max-height: 550px;
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  width: 100%;
  height: 100%;
}

.slidebutton {
  width: 60px;
  height: 25px;
  display: block;
  color: #ffffff;
  font-size: 15px;
  top: 250px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: 0.6s ease;
  border-radius: 4px 4px 4px 4px;
}

.origin {
  font-size: 1px;
  display: block;
  right: 1px;
  bottom: 1px;
  position: absolute;
  color: white;
}

.slidebutton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.selectSlide {
  display: none;
}

.slide-img {
  width: 100%;
  height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text_ad {
  color: #410539;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
}
.text_ad1_h {
  top: 20%;
  right: 3%;
}
.text_ad2_h {
  top: 20%;
  left: 8%;
}
.text_ad3_h {
  top: 23%;
  left: 8%;
}
.subtext {
  color: #410539;
  font-size: 20px;
  position: absolute;
}
.subtext1_h {
  top: 30%;
  right: 3%;
}
.subtext2_h {
  top: 30%;
  left: 8%;
}
.subtext3_h {
  top: 32%;
  left: 8%;
}
.button1_h {
  position: relative;
  left: 100px;
}
.button2_h {
  position: relative;
  left: 150px;
}
.button3_h {
  position: relative;
  left: 150px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot--container {
  text-align: center;
  position: absolute;
  bottom: 8px;
  width: 100%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171;
}

@media (max-width: 1240px) {
  .text_ad { font-size: 30px; }
  .subtext { font-size: 20px; }
  
}
@media (max-width: 768px) {
  .text_ad { font-size: 25px; }
  .text_ad1_h {
    width: 250px;
  }
  .text_ad2_h {
    width: 250px;
  }
  .text_ad3_h {
    left: 8%;
  }
  .subtext { 
    font-size: 15px; 
  }
  .subtext1_h {
    margin-top: 8px;
    right: 8%;
  }
  .subtext2_h {
    margin-top: 8px;
  }
  .button1_h {
    position: relative;
    left: 100px;
  }
}
@media (max-width: 500px) {
  .text_ad1_h { 
    width: 200px;
    font-size: 20px;
    right: 0;
  }
  .text_ad2_h { 
    width: 200px;
    font-size: 20px; 
  }
  .text_ad3_h { 
    width: 300px;
    font-size: 20px;
    left: 8%; 
  }

    .subtext1_h {
      right: 10%;
    }
    .button1_h {
      position: relative;
      left: 50px;
    }
    .button2_h {
      position: relative;
      left: 150px;
    }
    .button3_h {
      position: relative;
      left: 150px;
    }
  .subtext { font-size: 10px; }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
